<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{post.title}} - jClien</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<link rel="stylesheet" href="style.css" />	
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script></head> 
<body>
<div data-role="page" data-theme="d">
    
    <div data-role="header">
        <h1>jClien</h1>
        <a href="#" id="refresh" data-role="button" data-icon="refresh" data-board="{{board}}">처음으로</a>
    </div><!-- /header -->
    
    <div data-role="content">    
        <ul id="posts" data-role="listview">
			{% for post in posts %}
			<li>
				{{post.author}}
				<a href="/{{board}}/{{post.id}}">
					{{post.title}}
					<span class="ui-li-aside ui-li-desc">{{post.publish_time_short}}</span>					
				</a>
				{% if post.comments %}
				<span class="ui-li-count">{{post.comments}}</span>
				{% endif %}
			</li>
			{% endfor %}        	
        </ul>
	    <div style="margin-top: 2em;">
	        <a href="#" id="more" data-role="button" data-board="{{board}}" data-next-page="{{next_page}}">More</a>
	    </div><!-- /header -->
    </div><!-- /content -->
    
</div><!-- /page -->

<script type="text/javascript">
function add_post(board, data){
	var i;
	var $posts = $('#posts');
	for( i = 0 ; i < data.length ; i ++ ){
		var post = data[i];
		var li = '<li>'
		+ post.author
		+ '<a href="/' + board + '/' + post.id + '">' 
		+ post.title 
		+ '<span class="ui-li-aside ui-li-desc">' + post.publish_time_short + '</span>'
		+ '</a>';
		if(post.comments>0){
			li += '<span class="ui-li-count">' + post.comments + '</span>';
		}					
		li += '</li>';					
		
		$posts.append(li);
	}
	$posts.listview('refresh');
	
}
$(function(){
	
	$('#refresh').click(function(){
		var $button = $(this),
			board = $button.data('board');
			
		console.log('board', board);
		
		$.getJSON("/"+board, { format: "json" })
			.success(function(response){
				console.log('response',response);
				$('#posts').empty();
				add_post(board, response.posts);
			});
	});
	
	$('#more').click(function(){
		var $button = $(this),
			board = $button.data('board'),
			nextPage = $button.data('next-page');
			
		console.log('board', board, 'nextPage', nextPage);
		
		$.getJSON("/"+board+"/page"+nextPage, { format: "json" })
			.success(function(response){
				console.log('response',response);
				
				$button.data('next-page', response.next_page);
				var i;
				var $posts = $('#posts');
				for( i = 0 ; i < response.posts.length ; i ++ ){
					var post = response.posts[i];
					var li = '<li>'
					+ post.author
					+ '<a href="/' + board + '/' + post.id + '">' 
					+ post.title 
					+ '<span class="ui-li-aside ui-li-desc">' + post.publish_time_short + '</span>'
					+ '</a>';
					if(post.comments>0){
						li += '<span class="ui-li-count">' + post.comments + '</span>';
					}					
					li += '</li>';					
					
					$posts.append(li);
				}
				$posts.listview('refresh');
			});
	});
});
</script>

</body>
</html>