<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{post.title}} - jClien</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header" data-position="fixed" data-theme="d">
		<a href="/{{board.id}}" data-icon="back">{{board.title}}</a>
		<h1>{{post.title}}</h1>
		<!--
		<a href="#" data-icon="arrow-l">이전</a>
		<a href="#" data-icon="arrow-r">다음</a>
		-->
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		{{post.author}}		
		{{post.content}}	
		{% if post.signature %}	
			<em>{{post.signature}}</em>
		{% endif %}
		{% if post.comments %}
		<ul data-role="listview" data-theme="d" data-inset="true">
			{% for comment in post.comments %}
			<li>
				{{comment.author}}
				{{comment.content}}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		
		<!--
		<div data-role="controlgroup" data-type="horizontal">
			<a href="#" data-role="button" data-icon="star">Follow</a>
			<a href="#" data-role="button" data-icon="alert">차단</a>
		</div>
		-->
	</div><!-- /content -->

	<div data-role="footer" class="ui-bar" data-theme="d">
		<div data-role="navbar">
			<ul>
				{% if prev %}
				<li><a href="/{{board.id}}/{{prev.id}}" data-icon="arrow-l">이전 글<span>{{prev.title}}</span></a></li>
				{% endif %}
				<li><a href="/{{board.id}}/{{next.id}}" data-icon="arrow-r">다음 글<span>{{next.title}}</span></a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->
</div>

</body>
</html>