/* common */

.author.ul-li-icon {
    display: block;
    float: left;    
    font-size: 0.7em;
    padding: 0.5em;
    min-width: 60px;    
    text-align: center;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb  { 
    min-height: 16px; 
    padding-left: 100px; 
}

.post-info {
    text-align: right;
    font-size: 0.9em;
}