{% extends "tmpl.html" %}
{% block title %}
	<title>{{board.title}} - {{conf.app_name}}</title> 
{% endblock title %}
{% block content %}

{% autoescape off %}
<div data-role="page" data-theme="{{conf.theme}}">
	
    <div data-role="header" data-backbtn="false">
        <a href="#" class="refresh" data-role="button" data-icon="refresh" data-board="{{board.id}}">새로읽기</a>
        <h1>{{board.title}}</h1>
		<a href="/" data-icon="home" data-transition="fade">맨위로</a>
    </div><!-- /header -->
    
    <div data-role="content">    
        <ul class="posts" data-role="listview">
		{% for post in posts %}
			{% if board.id == "image" %}
			<li data-role="list-divider">
				{{post.author}}
				<h2>{{post.title}}</h2>
				<span class="ui-li-aside ui-li-desc">{{post.info}}</span>
			</li>
			<li>
				<div><!-- to avoid ul-li-thumb feature -->
				{{post.content}}
				</div>
				{% if post.comments %}
				<div>
					<ul data-role="listview" data-inset="true">
						{% for comment in post.comments %}
						<li>
							{{comment.author}}
							{{comment.content}}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</li>
			{% else %}
			<li>
				{{post.author}}
				<a class="post_title" href="/{{board.id}}/{{post.id}}">
					<p>{{post.title}}</p>
					<p class="publish-time ui-li-aside">{{post.publish_time_short}}</p>					
				</a>
				{% if post.comment_count %}
				<span class="ui-li-count">{{post.comment_count}}</span>
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}        	
        </ul>
	    <div style="margin-top: 2em;">
	        <a href="#" class="more" data-role="button" data-board="{{board.id}}" data-next-page="{{next_page}}">More</a>
	    </div><!-- /header -->
    </div><!-- /content -->
    
</div><!-- /page -->
{% endautoescape %}
{% endblock %}
