{% autoescape off %}
<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{board.title}} - {{conf.app_name}}</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
	<link rel="stylesheet" href="/static/style.css" />	
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="/static/script.js"></script>
	<script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script></head> 

<body>
<div data-role="page" data-theme="{{conf.theme}}">
	
    <div data-role="header" data-backbtn="false">
        <a href="#" class="refresh" data-role="button" data-icon="refresh" data-board="{{board.id}}">새로읽기</a>
        <h1>{{board.title}}</h1>
		<a href="/" data-icon="home" data-transition="fade">맨위로</a>
    </div><!-- /header -->
    
    <div data-role="content">    
        <ul class="posts" data-role="listview">
		{% for post in posts %}
			{% if board.id == "image" %}
			<li data-role="list-divider">
				{{post.author}}
				<h2>{{post.title}}</h2>
				<span class="ui-li-aside ui-li-desc">{{post.info}}</span>
			</li>
			<li>
				<div><!-- to avoid ul-li-thumb feature -->
				{{post.content}}
				</div>
				{% if post.comments %}
				<div>
					<ul data-role="listview" data-inset="true">
						{% for comment in post.comments %}
						<li>
							{{comment.author}}
							{{comment.content}}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</li>
			{% else %}
			<li>
				{{post.author}}
				<a class="post_title" href="/{{board.id}}/{{post.id}}">
					{{post.title}}
					<span class="ui-li-aside ui-li-desc">{{post.publish_time_short}}</span>					
				</a>
				{% if post.comment_count %}
				<span class="ui-li-count">{{post.comment_count}}</span>
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}        	
        </ul>
	    <div style="margin-top: 2em;">
	        <a href="#" class="more" data-role="button" data-board="{{board.id}}" data-next-page="{{next_page}}">More</a>
	    </div><!-- /header -->
    </div><!-- /content -->
    
</div><!-- /page -->


</body>
</html>
{% endautoescape %}