<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{conf.app_name}}</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.css" />
	<link rel="stylesheet" href="/static/style.css" />	
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="/static/script.js"></script>
	<script src="http://code.jquery.com/mobile/latest/jquery.mobile.js"></script></head> 
<body>

<div data-role="page" data-theme="{{conf.theme}}">
    
    <div data-role="header" data-backbtn="false">
        <h1>{{conf.app_name}}</h1>
		<a href="#info" data-icon="info" class="ui-btn-right" data-transition="flip" data-rel="dialog">정보</a>
    </div><!-- /header -->
    
    <div data-role="content">    
        <ul class="boards" data-role="listview">
			{% for board in boards %}
			<li>
				<a href="/{{board.id}}">
					{{board.title}}
				</a>
			</li>
			{% endfor %}   
			<li data-role="list-divider">소모임</li>     	
			{% for board in small_boards %}
			<li>
				<a href="/{{board.id}}">
					{{board.title}}
				</a>
			</li>
			{% endfor %}
        </ul>
    </div><!-- /content -->    
	
</div><!-- /page -->

<div id="info" data-role="page" data-theme="{{conf.theme}}">
	<div data-role="header" data-backbtn="false">
        <h1>About</h1>
    </div><!-- /header -->
    
    <div data-role="content">
	    <h1>Clien for iPad</h1>
		<p>version 0.1.1</p>
		<h2>by Reiot</h2>
		<p>
			<dl>
				<dt>Email</dt>
				<dd><a href="mailto:reiot94@gmail.com">reiot94@gmail.com</a></dd>
				<dt>Blog</dt>
				<dd><a href="http://reiot.com">http://reiot.com</a></dd>
				<dt>Source</dt>
				<dd>on <a href="http://github.com/reiot/clienpad/">GitHub</a></dd>
			</dl>
		</p>
		<p><em>Send my love to DARKMINI, my wife and the countess of cats.</em></p>
		<a href="#" data-rel="back" data-role="button" data-transition="flip" data-direction="reverse">Close</a>
    </div><!-- /content -->
</div>

</body>
</html>