{% extends "tmpl.html" %}
{% block title %}
<title>{{title}} - jClien</title> 
{% endblock title %}
{% block content %}
{% autoescape off %}
<div data-role="page" data-theme="{{conf.theme}}">

	<div data-role="header" data-backbtn="false">
		<a href="/{{board.id}}" data-icon="back" data-direction="reverse">{{board.title}}</a>
		<h1>{{title}}</h1>
		<a href="/" data-icon="home" data-transition="fade">Home</a>
	</div><!-- /header -->

	<div data-role="content">	
		<div class="ui-grid-a">
			<div class="ui-block-a">{{author}}</div>
			<div class="ui-block-b post-info"><em>{{info}}</em></div>
		</div>
		{{content}}	
		{% if signature %}	
		<em>{{signature}}</em>
		{% endif %}
		{% if comments %}
		<ul data-role="listview" data-inset="true">
			{% for comment in comments %}
			<li>
				<p class="publish-time ui-li-aside ul-li-desc">{{comment.info}}</p>
				{{comment.author}}
				<p>{{comment.content}}</p>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		
	</div><!-- /content -->

	<div data-role="footer">
		<div data-role="navbar">
			<ul>
				{% if prev %}
				<li>
					<a href="/{{board.id}}/{{prev.id}}" data-icon="arrow-u" data-transition="fade">
					{{prev.title}}
					</a>
				</li>
				{% endif %}
				<li>
					<a href="/{{board.id}}/{{next.id}}" data-icon="arrow-d" data-transition="fade">
					{{next.title}}
					</a>
				</li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->
</div>
{% endautoescape %}
{% endblock content %}
