<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{post.title}} - jClien</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<link rel="stylesheet" href="/static/style.css" />
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script></head> 
<body> 

<div data-role="page" data-theme="{{conf.theme}}">

	<div data-role="header" data-backbtn="false">
		<a href="/{{board.id}}" data-icon="back" data-direction="reverse">{{board.title}}</a>
		<h1>{{post.title}}</h1>
		<a href="/" data-icon="home" data-transition="fade">Home</a>
	</div><!-- /header -->

	<div data-role="content">	
		{{post.author}}		
		{{post.content}}	
		{% if post.signature %}	
			<em>{{post.signature}}</em>
		{% endif %}
		{% if post.comments %}
		<ul data-role="listview" data-inset="true">
			{% for comment in post.comments %}
			<li>
				{{comment.author}}
				{{comment.content}}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		
		<!--
		<div data-role="controlgroup" data-type="horizontal">
			<a href="#" data-role="button" data-icon="star">Follow</a>
			<a href="#" data-role="button" data-icon="alert">차단</a>
		</div>
		-->
	</div><!-- /content -->

	<div data-role="footer" class="ui-bar">
		<div data-role="navbar">
			<ul>
				{% if prev %}
				<li>
					<a href="/{{board.id}}/{{prev.id}}" data-icon="arrow-u" data-transition="slidedown">
					{{prev.title}}
					</a>
				</li>
				{% endif %}
				<li>
					<a href="/{{board.id}}/{{next.id}}" data-icon="arrow-d" data-transition="slideup">
					{{next.title}}
					</a>
				</li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->
</div>

</body>
</html>